opencv-python~=4.8.0.74
mediapipe~=0.10.2
# numpy~=1.24.3
google-auth
Flask
flask-cors
flask_sqlalchemy
flask-Login
flask-wtf
python-socketio
Flask-Mail
email-validator
flask-bcrypt
itsdangerous~=2.1.2
WTForms~=3.0.1
matplotlib~=3.7.2
scikit-learn==1.3.0
requests
